<!-- comments -->
<div class="comments-container">
    <!-- create a comment -->
    <div class="create-comment-wrapper">
        <textarea class="form-control new-comment" id="commentBody" placeholder="Write a comment..."
            rows="3"></textarea>
        <button class="btn btn-sm btn-primary new-comment-btn"
            onclick="createNewComment('<%=post._id%>')">Comment</button>
    </div>

    <!-- all comments -->
    <div class="comments-wrapper" id="comments-wrapper">

        <% if (comments && comments.length != 0) { %>
        <% comments.reverse().forEach( function(comment) { %>
        <div class="comment">
            <div class="comment-info">
                <a href="/posts/user/<%= comment.authorUsername %>"
                    class="post-link post-info-dark"><%= comment.authorUsername %></a>
                <span class="comment-time"><%= moment(comment.created).fromNow() %></span>
                <span class="comment-menu-wrapper">
                    <button class="comment-menu-toggle fa fa-ellipsis-v" id="comment-menu-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <!-- <i class="fa fa-ellipsis-v comment-menu"></i> -->
                    </button>

                    <div class="comment-dropdown dropdown-menu dropdown-menu-right" aria-labelledby="comment-menu-toggle">
                        <button class="dropdown-item" onclick="enableCommentEdit(this)"><i class="fa fa-pencil"></i> Edit</button>
                        <button class="dropdown-item text-danger" onclick="deleteComment('<%= comment._id %>')"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </span>


            </div>
            <div class="comment-body"><%= comment.body %></div>
            <div class="edit-comment-wrapper">
                <button class="edit-comment-cancel btn btn-sm btn-link" onclick="editCommentCancel(this)">Cancel</button>
                <button class="edit-comment-save btn btn-sm btn-primary" onclick="editCommentSave(this, '<%= comment._id %>')">Save</button>
            </div>
        </div>
        <%  }) %>
        <% } %>

    </div>

    <!-- <button onclick="deleteComment(' comment._id ')">Delete Comment</button> 

    delete btn for post & comment -->
</div>

<script id="handlebars-new-comment" type="text/x-handlebars-template">
    <div class="comment">
        <div class="comment-info">
            <a href="/posts/user/<%= user %>" class="post-link post-info-dark"><%= user %></a>
                <span class="comment-time"><%= moment(Date.now()).fromNow() %></span>
        </div>
        <div class="comment-body">{{body}}</div>
    </div>
</script>