<!-- display main post info (title, text, tags, etc.)-->
<div class="post-wrapper">

    <!-- post info (category & subcategory, author, time since post) -->
    <div class="post-info-wrapper">
        <a href="/posts/<%= post.category %>/<%= (post.subCategory != 'none') ? post.subCategory : '' %> %>" class="post-info-dark post-link">
            /<%= post.category[0].toUpperCase() +  post.category.substr(1) %>/<%= (post.subCategory != 'none') ? (post.subCategory[0].toUpperCase() +  post.subCategory.substr(1)) : '' %>
        </a>

        <div>
            <span class="pr-0">by</span>
            <a href="/posts/user/<%= post.authorUsername %>"
                class="pr-0 post-link post-info-dark"><%= post.authorUsername %></a>
        </div>

        <div><%= moment(post.created).fromNow() %></div>
    </div>

    <div class="post-title"><%= post.title %></div>
    <div class="post-body"><%= post.text %></div>

    <!-- post info (# of comments, keywords) -->
    <div class="post-info-wrapper">
        <% if (post.comments === 1) { %>
        <a href="/posts/view/<%= post._id %>" class="post-link"><%= post.comments %> comment </a><span>|</span>
        <% } else {%>
        <a href="/posts/view/<%= post._id %>" class="post-link"><%= post.comments %> comments </a><span>|</span>
        <% } %>

        <% if (post.views === 1) { %>
        <div><%= post.views %> view |</div>
        <% } else { %>
        <div><%= post.views %> views |</div>
        <% } %>

        <div>tags:
        </div>
        <% if (post.keywords.length != 1 && post.keywords[0] != "") {
        post.keywords.forEach( function(keyword) { 
        %>
        <div class="post-keyword bg-light">
            <a href="#" class="post-link post-info-dark"><%= keyword %></a>
        </div>
        <% }) 
        } %>
    </div>

</div>