<!-- display main post info (title, text, tags, etc.)-->
<div class="post-wrapper">
    <!-- post info (category & subcategory, author, time since post) -->
    <div class="post-info-wrapper">
        <a href="/posts/<%= post.category %>/<%= (post.subCategory != 'none') ? post.subCategory : '' %> %>"
            class="post-info-dark post-link">
            /<%= post.category[0].toUpperCase() +  post.category.substr(1) %>/<%= (post.subCategory != 'none') ? (post.subCategory[0].toUpperCase() +  post.subCategory.substr(1)) : '' %>
        </a>

        <div>
            <span class="pr-0">by</span>
            <a href="/posts/user/<%= post.authorUsername %>"
                class="pr-0 post-link post-info-dark"><%= post.authorUsername %></a>
        </div>

        <div><%= moment(post.created).fromNow() %></div>

        <!-- only display the menu if user owns the comment -->
        <% if (post.authorUsername === user) { %>

        <div class="menu-wrapper">
            <button class="menu-toggle post-menu-toggle fa fa-ellipsis-v" id="post-menu-toggle" type="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>

            <div class="menu-dropdown dropdown-menu dropdown-menu-right" aria-labelledby="post-menu-toggle">
                <form action="/posts/editPost" method="POST">
                    <input type="hidden" name="postId" value="<%= post._id %>">
                    <button class="dropdown-item"><i class="fa fa-pencil"></i>
                        Edit</button>
                </form>
                <button class="dropdown-item text-danger" onclick="deletePost('<%= post._id %>')"><i
                        class="fa fa-trash text-danger"></i> Delete</button>

            </div>
        </div>

        <% } %>
    </div>

    <div class="post-title"><%= post.title %></div>
    <div class="post-body"><%= post.text %></div>

    <!-- post info (# of comments, keywords) -->
    <div class="post-info-wrapper">
        <div class="post-stats-wrapper">
            <% if (post.comments === 1) { %>
            <a href='/posts/view/<%= post._id %>' class='post-link'><%= post.comments %> comment </a><span>|</span>
            <% } else {%>
            <a href='/posts/view/<%= post._id %>' class='post-link'><%= post.comments %> comments </a><span>|</span>
            <% } %>

            <% if (post.views === 1) { %>
            <div><%= post.views %> view</div>
            <% } else { %>
            <div><%= post.views %> views</div>
            <% } %>
        </div>
    </div>

    <% if (!(post.keywords.length < 1) && post.keywords[0] != "") { %>
    <div class="post-info-wrapper">
        <div>tags:</div>
        <div class="keywords-wrapper">
            <div>
                <% post.keywords.forEach( function(keyword) { %>
                <div class="post-keyword bg-light" style="display: inline;">
                    <a href="/posts/search/<%= keyword %>" class="post-link post-info-dark"><%= keyword %></a>
                </div>
                <% }) %>

            </div>
        </div>
    </div>
    <% } %>
</div>

<% include deleteConfirm %>