<!-- upvote/downvote btn & post score displayed -->
<div class="score-wrapper">
        <% if (post.votes && post.votes.length && user) { %>
        <% for (vote in post.votes) { %>
        <% if (post.votes[vote].username === user) { %>
        <div><i class="fa fa-chevron-up vote-icon <%= (post.votes[vote].vote === 1 ? 'vote-clicked': '') %>"
                        onclick="voteOnPost(this, '<%= post._id %>', 'upVote')"></i></div>
        <div class="pt-2 pb-2"><%= post.score %></div>
        <div><i class="fa fa-chevron-down vote-icon <%= (post.votes[vote].vote === -1 ? 'vote-clicked': '') %>"
                        onclick="voteOnPost(this, '<%= post._id %>', 'downVote')"></i></div>
        <% } else { %>
        <div><i class="fa fa-chevron-up vote-icon" onclick="voteOnPost(this, '<%= post._id %>', 'upVote')"></i>
        </div>
        <div class="pt-2 pb-2"><%= post.score %></div>
        <div><i class="fa fa-chevron-down vote-icon" onclick="voteOnPost(this, '<%= post._id %>', 'downVote')"></i>
        </div>
        <% } %>
        <% } %>
        <% } else { %>
        <div><i class="fa fa-chevron-up vote-icon" onclick="voteOnPost(this, '<%= post._id %>', 'upVote')"></i>
        </div>
        <div class="pt-2 pb-2"><%= post.score %></div>
        <div><i class="fa fa-chevron-down vote-icon" onclick="voteOnPost(this, '<%= post._id %>', 'downVote')"></i>
        </div>
        <% } %>
</div>