<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>Acaply - New Post</title>

    <!-- bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- custom stylesheet -->
    <link type="text/css" rel="stylesheet" href="/css/createPost.css">
</head>

<body>
    <div>Create Post</div>
    <form action="/posts/createPost" method="POST">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="body" placeholder="body text">
        <input type="text" name="keywords" placeholder="keywords">

        <select name="category" required>
            <option value="general">General</option>
            <option value="clubs">Clubs</option>
            <option value="classes">Classes</option>
        </select>

        <select name="subCategory" required>
            <option value="english">English</option>
            <option value="math">Math</option>
            <option value="science">Science</option>
            <option value="events">Events</option>
        </select>

        <button type="submit">Create Post</button>
    </form>

    <%= JSON.stringify(categories) %>

    <!-- Categories Tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <% var count = 0; %>
        <% for (category in categories) { %>
        <% if (count === 0) { %>
        <li class="active"><a href="#<%=category%>" class="category-tab" role="tab" data-toggle="tab"><%=category%></a>
        </li>
        <% } else { %>
        <li><a href="#<%=category%>" class="category-tab" role="tab" data-toggle="tab"><%=category%></a></li>
        <% } %>
        <% count++ %>
        <% } %>
    </ul>

    <!-- Category tab content  -->
    <div class="tab-content">
        <% var count = 0; %>
        <% for (category in categories) { %>
        <% if (count === 0) { %>
        <div class="tab-pane active" id="<%=category%>"><%=category%></div>
        <% } else { %>
        <div class="tab-pane" id="<%=category%>"><%=category%></div>
        <% } %>
        <% count++ %>
        <% } %>
    </div>

    <!-- needed for bootstrap 4 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>