<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Acaply - Edit Post</title>
</head>

<body>
    <div>Edit Post</div>
    <form action="/posts/updatePost/<%= post._id %>" method="POST">
        <div>Category: <%= post.category %></div>
        <div>Subcategory: <%= post.subCategory %></div>

        <input type="text" name="title" placeholder="Title" value="<%= post.title %>">
        <input type="text" name="body" placeholder="Body Text" value="<%= post.text %>">
        <input type="text" name="keywords" placeholder="Keywords" value="<%= post.keywords.join(', ') %>">

        <button type="submit">Done</button>
    </form>

    <a href="http://localhost:3000">Home</a>
</body>

</html>