<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>Acaply</title>

    <!-- bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- custom stylesheet -->
    <link type="text/css" rel="stylesheet" href="/css/index.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <% if (isLoggedIn) { %>
                <div class="nav-item">
                    <form action="/logout" method="POST">
                        <button type="submit" class="btn btn-link">logout</button>
                    </form>
                </div>
                <div class="nav-item">
                    <% if (user) { %>
                    <p><%= user.username %></p>
                    <% } %>
                </div>
                <% } else { %>
                <div class="nav-item">
                    <form action="/login" method="GET">
                        <button type="submit" class="btn btn-link">login</button>
                    </form>
                </div>
                <div class="nav-item">
                    <form action="/signup" method="GET">
                        <button type="submit" class="btn btn-link">signup</button>
                    </form>
                </div>
                <% } %>

            </div>
        </div>
    </nav>

    <!-- sidebar & posts container -->
    <div class="container-fluid">
        <div class="row">

            <!-- sidebar section -->
            <div class="col-2 collapse show d-md-flex bg-light pl-0 min-vh-100 sidebar-wrapper" id="sidebar">
                <ul class="nav flex-column flex-nowrap overflow-hidden sidebar">
                    <li class="nav-item">
                        <form action="/new" method="GET">
                            <button class="create-post-btn" type="submit">Create Post</button>
                        </form>
                    </li>
                    <% for (var category in categories) { %>
                    <% if (categories.hasOwnProperty(category)) { %>

                    <!-- display categories for sidebar -->
                    <li class="nav-item">
                        <div class="sidebar-category text-truncate">
                            <form action="/posts/all/<%= category.toLowerCase() %>">
                                <button class="btn btn-link d-none d-sm-inline category-btn"><%= category %></button>

                                <% if (categories[category].length != 0) { %>
                                <span class="sidebar-arrow collapsed" data-toggle="collapse"
                                    data-target="#<%= category %>"></span>
                                <% } %>
                            </form>
                        </div>

                        <% if (categories[category].length != 0) { %>

                        <!-- display subcategories for sidebar -->
                        <div class="collapse" id="<%= category %>" aria-expanded="false">
                            <ul class="flex-column pl-2 nav">
                                <% for (var subcategory in categories[category]) { %>
                                <li class="nav-item sidebar-subcategory">
                                    <div class="py-0">
                                        <form
                                            action="/posts/all/<%= category.toLowerCase() %>/<%= categories[category][subcategory].toLowerCase() %>">
                                            <button
                                                class="btn btn-link d-none d-sm-inline subcategory-btn"><%= categories[category][subcategory] %></button>
                                        </form>
                                    </div>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                        <% } %>

                    </li>
                    <% } %>
                    <% } %>

                </ul>
            </div>

            <!-- posts section -->
            <div class="col-10">
                <% if (posts && posts.length) { %>
                <% posts.forEach((post) => { %>
                <div class="post-container">
                    <a href="/posts/view/<%= post._id %>"><%= JSON.stringify(post) %></a>
                    <% if (isLoggedIn && post.isPostAuthor) { %>
                        <form action="/posts/editpost" method="POST">
                            <input type="hidden" name="postId" value="<%= post._id %>">
                            <button type="submit">Edit</button>
                        </form>
                        <button onclick="deletePost('<%= post._id %>')">Delete</button>
                    <% } %>
                </div>
                <% }) %>
                <% } %>
            </div>
        </div>
    </div>

    <!-- needed for bootstrap 4 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <!-- custom scripts -->
    <script src="/js/index.js"></script>
</body>

</html>