<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Acaply</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- font awesome -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />

    <!-- Custom Styles -->
    <link type="text/css" rel="stylesheet" href="/css/index.css">
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="#">Acaply</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <!-- Show this stuff if the user is logged in. -->
                <% if (isLoggedIn) { %>
                <div class="nav-item">
                    <form action="/logout" method="POST">
                        <button type="submit" class="btn btn-link">logout</button>
                    </form>
                </div>
                <div class="nav-item">
                    <% if (user) { %>
                    <p><%= user.username %></p>
                    <% } %>
                </div>
                <!-- Show this stuff if the user is not logged in. -->
                <% } else { %>
                <div class="nav-item">
                    <form action="/login" method="GET">
                        <button type="submit" class="btn btn-link">Log In</button>
                    </form>
                </div>
                <div class="nav-item">
                    <form action="/signup" method="GET">
                        <button type="submit" class="btn btn-link">Sign Up</button>
                    </form>
                </div>
                <% } %>
            </div>
        </div>
    </nav>

    <!-- Container that holds the sidebar and posts. -->
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar Section -->
            <div class="col-lg-2 col-sm-3 collapse show d-md-flex sidebar-wrapper" id="sidebar">
                <ul class="nav flex-column flex-nowrap overflow-hidden bg-white sidebar">
                    <li class="nav-item">
                        <!-- Form that lets you make a new post. -->
                        <form action="/new" method="GET">
                            <button class="create-post-btn" type="submit">Create Post</button>
                        </form>
                    </li>
                    <% for (var category in categories) { %>
                    <% if (categories.hasOwnProperty(category)) { %>

                    <!-- Show the different categories on the sidebar. -->
                    <li class="nav-item">
                        <div class="sidebar-category text-truncate">
                            <form action="/posts/<%= category.toLowerCase() %>">
                                <button class="btn btn-link d-none d-sm-inline category-btn"><%= category %></button>
                                <% if (categories[category].length != 0) { %>
                                <span class="sidebar-arrow collapsed" data-toggle="collapse"
                                    data-target="#<%= category %>"></span>
                                <% } %>
                            </form>
                        </div>

                        <% if (categories[category].length != 0) { %>

                        <!-- Show the different categories on the sidebar. -->
                        <div class="collapse" id="<%= category %>" aria-expanded="false">
                            <ul class="flex-column pl-2 nav">
                                <% for (var subcategory in categories[category]) { %>
                                <li class="nav-item sidebar-subcategory">
                                    <div class="py-0">
                                        <form
                                            action="/posts/<%= category.toLowerCase() %>/<%= categories[category][subcategory].toLowerCase() %>">
                                            <button
                                                class="btn btn-link d-none d-sm-inline subcategory-btn"><%= categories[category][subcategory] %></button>
                                        </form>
                                    </div>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                        <% } %>

                    </li>
                    <% } %>
                    <% } %>

                </ul>
            </div>

            <!-- Post Section -->
            <div class="col-lg-10 col-sm-9 post-column">
                <% if (posts && posts.length) { %>
                <% posts.forEach( function(post) { %>
                <div class="post-container">
                    <a href="/posts/view/<%= post._id %>"><%= JSON.stringify(post) %></a>
                    <% if (isLoggedIn && post.isPostAuthor) { %>
                    <form action="/posts/editpost" method="POST">
                        <input type="hidden" name="postId" value="<%= post._id %>">
                        <button type="submit">Edit</button>
                    </form>
                    <button onclick="deletePost('<%= post._id %>')">Delete</button>
                    <% } %>
                </div>
                <% }) %>
                <% } %>

                <% if (posts && posts.length) { %>
                <% posts.forEach( function(post) { %>
                <div class="post-container">
                    <div class="score-wrapper">
                        <div>^</div>
                        <div>10</div>
                        <div>v</div>
                    </div>
                    <div class="post-wrapper">

                        <!-- post info (category & subcategory, author, time since post) -->
                        <div class="post-info-wrapper">
                            <!--  <a href="/posts/<%= post.category %>/<%= post.subCategory %>">/<%= post.category %>/<%= post.subCategory %></a> -->
                           <div>/<%= post.category %>/<%= post.subCategory %></div>

                            <div>by <%= post.authorUsername %></div>

                            <div class=""> time ago</div>
                        </div>

                        <a href="/posts/view/<%= post._id %>" class="post-title"><%= post.title %></a>
                        <div class="post-body"><%= post.text %></div>

                        <!-- post info (# of comments, keywords) -->
                        <div class="post-info-wrapper">
                            <% if (post.comments === 1) { %>
                            <div><%= post.comments %> comment |</div>
                            <% } else {%>
                            <div><%= post.comments %> comments |</div>
                            <% } %>

                            <div>tags: </div>
                            <% post.keywords.forEach( function(keyword) { %>
                            <div class="post-keyword bg-light"><%= keyword %></div>
                            <% }) %>
                        </div>

                    </div>
                </div>
                <% }) %>
                <% } %>
            </div>
        </div>
    </div>

    <!-- Bootstrap 4 requirements -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <!-- Custom Js -->
    <script src="/js/index.js"></script>
</body>

</html>